name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DAFNY_DOWNLOAD_LOCATION: https://github.com/dafny-lang/dafny/releases/download/v3.6.0/dafny-3.6.0-x64-ubuntu-16.04.zip
  DAFNY_ZIP: dafny-3.6.0-x64-ubuntu-16.04.zip
  TOOL_DLL: TypeInjections/TypeInjections/bin/Debug/net6.0/TypeInjections.dll
  TOOL_SLN: TypeInjections/TypeInjections.sln
  TOOL_TEST: TypeInjections/TypeInjections.Test/TypeInjections.Test.fsproj
  
  
jobs:
  job0:
    name: TypeCart CI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Install Dafny, build and test
      run: |
        curl $DAFNY_DOWNLOAD_LOCATION -L -o $DAFNY_ZIP
        unzip $DAFNY_ZIP && rm $DAFNY_ZIP
        dotnet build TypeInjections/TypeInjections.sln -p:Configuration=Debug
        dotnet test $TOOL_TEST
